{% extends "base.html" %} {% from 'bootstrap5/form.html' import render_field %}
{% block content %}

<h2>{{ page_title }}</h2>
<form method="POST" class="mx-auto">
  {{ form.csrf_token }}
  <div class="row">
    <div class="w-10">{{ render_field(form.title) }}</div>
  </div>
  <div class="row">
    <div class="w-10">{{ render_field(form.splash_url) }}</div>
  </div>
  <div class="row">
    <div class="w-10">{{ render_field(form.splash_caption) }}</div>
  </div>
  <div class="row">
    <div class="w-10">{{ render_field(form.splash_credit) }}</div>
  </div>
  <div class="row">
    <div class="w-10">{{ render_field(form.content) }}</div>
  </div>
  <div class="row">
    <div class="w-10">{{ render_field(form.tags) }}</div>
  </div>
  <div class="row">
    <div class="col">{{ render_field(form.friends_only) }}</div>
    <div class="col">{{ render_field(form.followers_only) }}</div>
  </div>
  <div class="row">
    <div class="col">{{ render_field(form.draft) }}</div>
    <div class="col">{{ render_field(form.comments_disabled)}}</div>
  </div>
  <button
    type="submit"
    id="submit"
    disabled
    class="btn btn-lg fw-bold"
    style="color: grey"
  >
    Publish
  </button>
</form>

{% endblock %} {% block scripts %} {{ super() }}
<script src="{{
url_for('static', filename='js/post_page.js') }}"></script>
{% endblock %}
