{% if current_user.is_authenticated %}
<button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#navbarText"
  aria-controls="navbarText"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav ms-auto text-end">
    <li class="nav-item">
      <a
        class="nav-link {{ is_active('site.index') }}"
        aria-current="page"
        href="{{ url_for('site.index') }}"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('site.post') }}">Write Post</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link {{ is_active('site.profile') }}"
        href="{{ url_for('site.profile', id=current_user.id) }}"
        class="nav-link"
        >Profile
        <!-- ( {{ current_user.username }} ) --></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('security.logout') }}">Logout</a>
    </li>
  </ul>
</div>
{% else %}
<a
  class="nav-link {{ is_active('site.index') }}"
  href="{{ url_for('site.index') }}"
  >Home</a
>
<a
  class="nav-link {{ is_active('security.login') }}"
  href="{{ url_for('security.login') }}"
  >Login</a
>
<a
  class="nav-link {{ is_active('security.register') }}"
  href="{{ url_for('security.register') }}"
  >Register</a
>
{% endif %}
