{% if current_user.is_authenticated %}
<div class="gap-3 d-flex">
  <a
    href="{{ url_for('site.notifications') }}
    "
    class="btn btn-light position-relative link-dark"
  >
    <i class="bi bi-bell-fill"></i>
    {% if check_notifications %}
    <span
      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >{{ check_notifications }}
      <span class="visually-hidden">Unread Notifications</span>
      {% endif %}
    </span>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav ms-auto text-end">
    <li class="nav-item">
      <a
        href="{{ url_for('site.index') }}"
        class="nav-link {{ is_active('site.index') }}"
        aria-current="page"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('site.post') }}">Write Post</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link {{ is_active('site.profile') }}"
        href="{{ url_for('site.profile', id=current_user.id) }}"
        class="nav-link"
        >Profile
        <!-- ( {{ current_user.username }} ) --></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('security.logout') }}">Logout</a>
    </li>
  </ul>

  {% else %}
  <a
    class="nav-link {{ is_active('site.index') }}"
    href="{{ url_for('site.index') }}"
    >Home</a
  >
  <a
    class="nav-link {{ is_active('security.login') }}"
    href="{{ url_for('security.login') }}"
    >Login</a
  >
  <a
    class="nav-link {{ is_active('security.register') }}"
    href="{{ url_for('security.register') }}"
    >Register</a
  >
  {% endif %}
</div>
