{% macro render_field_with_errors(field) %}
<div class="mb-3 form-floating">
  {{ field(class_='form-control text-black', **kwargs)|safe }}{{
  field.label(class='text-secondary') }} {% if field.errors %}
  <ul>
    {% for error in field.errors %}
    <li class="fs-error-msg">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endmacro %} {% macro render_field(field) %}
<div class="mb-3 form-check" id="{{ field.id|default('fs-field') }}">
  {{ field.label(class='form-check-label') }} {{
  field(class_='form-check-input',**kwargs)|safe }}
</div>
{% endmacro %} {% macro render_field_errors(field) %}
<div class="fs-div" id="{{ field.id if field else 'fs-field' }}">
  {% if field and field.errors %}
  <ul>
    {% for error in field.errors %}
    <li class="fs-error-msg">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endmacro %} {# render WTForms (>3.0) form level errors #} {% macro
render_form_errors(form) %} {% if form.form_errors %}
<div class="fs-div" id="fs-form-errors">
  <ul>
    {% for error in form.form_errors %}
    <li class="fs-error-msg">{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %} {% endmacro %} {% macro prop_next() -%} {% if 'next' in request.args
%}?next={{ request.args.next|urlencode }}{% endif %} {%- endmacro %}
