{% macro truncate_text(text, length, post) %} {% if text|length > length %}<span
  style="white-space: pre-wrap"
  >{{ text|truncate(length, true, '...') }}</span
>
<a
  href="{{ url_for('site.view_post', id=post.id)}}"
  class="read-more"
  style="display: block; margin-top: 1rem"
>
  Read Full Story &rarr; </a
>{% else %}<span style="white-space: pre-wrap">{{ text }}</span>{% endif %}{%
endmacro %} {% macro view_post_feed(post, current_user) %}
<div class="post mt-5">
  <div style="display: flex; gap: 5px; padding-bottom: 15px">
    <a
      href="{{ url_for('site.profile', id=post.owner_user.id) }}"
      class="link-dark text-decoration-none"
    >
      <div
        style="
          display: inline-flex;
          justify-content: center;
          align-items: center;
        "
      >
        <img
          src="https://i.pravatar.cc/25"
          alt="User"
          class="img-fluid"
          style="border-radius: 50%; margin-right: 8px"
          width="25 px"
        />
        {{ post.owner_user.username }} {% if post.owner_user.verified %}
        <div class="ps-1">
          <i class="bi bi-patch-check" style="color: #b93be8"></i>
        </div>
        {% endif %}
      </div>
    </a>
    <span class="text-muted text-lowercase"> &middot;</span>
    <i class="text-muted text-lowercase text-decoration-none"
      >{{ post.humanized_time }}</i
    >
    <span style="margin-left: auto">
      <a href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false"
        ><i class="bi bi-three-dots-vertical" style="color: #bbb"></i
      ></a>
      <ul class="dropdown-menu" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)">
        <li>
          <a
            class="dropdown-item"
            href="{{ url_for('site.view_post', id=post.id) }}"
            >View Post</a
          >
        </li>
        <li><a class="dropdown-item" href="#">Share Post</a></li>
        {% if post.owner_user.id == current_user.id %}
        <li>
          <a
            class="dropdown-item"
            href="{{ url_for('site.edit_post', id=post.id) }}"
            >Edit Post</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <a
            href="{{ url_for('site.delete_post', id=post.id) }}"
            class="link-danger dropdown-item"
            >Delete</a
          >
        </li>
        {% else %}
        <li><hr class="dropdown-divider" /></li>
        <li><a class="link-danger dropdown-item" href="#">Report Post</a></li>
        {% endif %}
      </ul>
    </span>
  </div>
  {% if post.splash_url %}
  <div class="skeleton splash">
    <div
      class="front-post-image"
      style="background-image: url('{{ post.splash_url }}');"
    >
      <a
        href="{{ url_for('site.view_post', id=post.id) }}"
        class="post-title-link"
        >{{ post.title }}</a
      >
    </div>
  </div>
  {% endif %}{% if post.splash_caption and post.splash_url %}
  <div class="row">
    <div class="col caption">{{ post.splash_caption }}</div>
    {% endif %} {% if post.splash_credit and post.splash_url %}
    <div class="col text-end credit">Photo by {{ post.splash_credit }}</div>
  </div>
  {% endif %}
  <div class="post-text">
    <p>{{ truncate_text(post.content, 500, post) }}</p>
    <div style="display: flex; gap: 15px">
      <a
        href="{% if post.liked %}{{ url_for('site.unlike_post', post_id=post.id) }}{% else %}
        {{ url_for('site.like_post', post_id=post.id) }}{% endif %}
        "
        class="text-muted text-decoration-none"
        ><i
          class="bi bi-heart{% if post.liked %}-fill"
          style="color: #C3312D{% endif %}"
        ></i>
        <span id="likes">
          {{ post.likes }} like{% if not post.likes == 1%}s</span
        ></a
      >
      {% endif %} {% if not post.comments_disabled %}
      <a
        href="{{ url_for('site.view_post', id=post.id) }}"
        class="text-muted text-decoration-none"
        ><i class="bi bi-chat-dots"></i>
        <span id="comments"
          >{{ post.comments }} comment{% if not post.comments == 1 %}s{% endif
          %}</span
        ></a
      >
      {% endif %}
    </div>
    <input type="hidden" id="post_id" value="{{ post.id }}" name="post_id" />
  </div>
</div>
<hr class="border border-2" />
{% endmacro %} {% macro view_post(post, current_user) %} {% endmacro %}
