<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ page_title }}{% if page_title %} &middot; {{ title }}{% else%} {{ title
      }}{% endif %}
    </title>
    <meta name="theme-color" content="#7952b3" />
    {% block styles %} {{ bootstrap.load_css() }}
    <link
      href="{{url_for('static',filename='css/custom.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='css/cover.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='css/animations.css')}}"
      rel="stylesheet"
    />
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    {% endblock %}
  </head>
  <body class="d-flex h-100 text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">{{ title }}</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            {% include 'partials/_nav.html' %}
          </nav>
        </div>
      </header>
      <section class="flash-messages mx-auto">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}{% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            style="scale: 0.8"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </section>

      <main class="h-100 py-3">
        {% block content %}
        <h1>{{ page_title }}</h1>
        {{ content }} {% endblock %}
      </main>

      <!--<footer class="mt-auto text-white-50 text-center">
        <p>
          An
          <a href="https://stjenstrom.me" class="text-white">stjernstrom</a>
          app.
        </p>
      </footer>-->
    </div>
    {% block scripts %} {{ bootstrap.load_js() }}
    <script>
      const currentUser = {{ current_user.id }};
      const currentUserName = "{{ current_user.username }}";
    </script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>

    {% endblock %}
  </body>
</html>
