<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ page_title }}{% if page_title %} &middot; {{ title }}{% else%} {{ title
      }}{% endif %}
    </title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='/images/favicon.ico') }}"
    />
    {% block styles %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    {{ bootstrap.load_css() }}
    <link
      href="{{url_for('static',filename='/css/custom.css')}}"
      rel="stylesheet"
    />

    <link
      href="{{url_for('static',filename='/css/animations.css')}}"
      rel="stylesheet"
    />

    {% endblock %}
  </head>
  <body>
    <header class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="d-flex flex-row">
            <a href="{{ url_for('site.index') }}" class="navbar-brand navbar">
              <img
                src="{{ url_for('static', filename='images/stjernlogga-temp.png') }}"
                alt="Stjernapps"
                width="60"
              />
              <div class="d-flex flex-column p-2 pt-0 pb-0">
                <h1 class="mb-1" style="font-size: 1.5rem">StjernSocial</h1>
                <p class="mb-1" style="font-size: 1rem">
                  A Social Article Site
                </p>
              </div>
            </a>
          </div>
          {% include 'partials/_nav.html' %}
        </div>
      </nav>
    </header>
    <section class="flash-messages mx-auto">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}{% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show  m-3"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          style="scale: 0.8"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <!--
      <div
        class="alert alert-success alert-dismissible fade show m-3"
        role="alert"
      >
        <strong>Test!</strong> This is a success message for test.
        <button
          type="button"
          class="btn-close"
          style="scale: 0.8"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      -->
    </section>

    <main class="container mt-4">
      {% block content %}
      <h1>{{ page_title }}</h1>
      {{ content }} {% endblock %}
    </main>

    <footer class="text-center text-lg-start mt-4">
      <div class="text-center p-3">
        <p>
          An
          <a href="https://stjenstrom.me">stjernstrom</a>
          app.
        </p>
      </div>
    </footer>
    {% block scripts %} {{ bootstrap.load_js() }}
    <script>
      // User data
      const currentUser = {{ current_user.id }};
      const currentUserName = "{{ current_user.username }}";
      const currentUserVerified = "{{ current_user.verified }}";
    </script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>

    {% endblock %}
  </body>
</html>
