{% extends "base.html" %} {% from "_macros.html" import truncate_text,
view_post_feed %} {% block content %}
<!-- TODO: Implement more feeds

  <ul class="nav mb-2">
  <li class="nav-item">
    <a class="nav-link active text-muted" aria-current="page" href="/"
      >For you</a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">What's hot</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">New</a>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      href="#"
      role="button"
      aria-expanded="false"
      >Dropdown</a
    >
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>

</ul>  -->
{% for post in followers_posts %} {{ view_post_feed(post, current_user) }} {%
endfor %}

<div class="mb-3">
  <h2>Trending</h2>
  <ol class="list-group list-group-numbered">
    {% for post in trending_posts %}
    <li
      class="trending list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <a href="{{ url_for('site.view_post', id=post.id) }}"
          >{{ post.title }}</a
        >
      </div>
      <span class="badge bg-primary rounded-pill">{{ post.new }}</span>
    </li>
    {% endfor %}
  </ol>
</div>
<div class="mb-3">
  <h2>Top tags</h2>
  <ol class="tags list-group list-group-numbered">
    {% for tag in top_tags %}
    <li
      class="tag list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <a href="{{ url_for('site.view_tag', tag_name=tag[0]) }}"
          >{{ tag[0] }}</a
        >
      </div>
      <span class="tag-count badge bg-primary rounded-pill">{{ tag[1] }}</span>
    </li>
    {% endfor %}
  </ol>
</div>
<div class="mt-3">
  <h2>Top views</h2>
  <ol class="list-group list-group-numbered">
    {% for post in top_views %}
    <li
      class="views list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <a href="{{ url_for('site.view_post', id=post.id) }}"
          >{{ post.title }}</a
        >
      </div>
      <span class="badge bg-primary rounded-pill">{{ post.views }}</span>
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
