{% extends "base.html" %} {% from "_macros.html" import truncate_text,
view_post_feed %}{% block content %}
<div class="text-center">
  <!-- TODO: Implement avatar, fix skeleton -->
  <img
    src="https://i.pravatar.cc/100"
    alt="Profile Image"
    style="
      background-color: #ccc;
      border: 2px solid #b93be8;
      border-radius: 50%;
      margin-bottom: 20px;
      width: 100px;
      height: 100px;
    "
  />
  <h1 style="font-family: 'Roboto-Serif'">
    {{ user.username }} {% if user.verified %}
    <i class="bi bi-patch-check" style="color: #b93be8"></i>
    {% endif %}
  </h1>

  <!-- TODO: implement-->
  <!-- if user is staff/admin at a company: -->
  {% if user.has_role('Admin') %}
  <p class="badge bg-primary rounded-pill">&star; Administrator</p>

  {% endif %} {% if not user.id == current_user.id %}
  <div class="text-center">
    <span class="badge bg-secondary rounded-pill p-2 mb-3"
      >{% if not is_following %}
      <a
        href="{{ url_for('site.follow_user', user_id=user.id) }}"
        class="link-light text-decoration-none"
        >Follow</a
      >
      {% else %}
      <a
        href="{{ url_for('site.unfollow_user', user_id=user.id) }}"
        class="link-light text-decoration-none"
        >Unfollow</a
      >
      {% endif %}</span
    >
  </div>
  {% endif %}
  <div class="row mt-3">
    <div class="col-4">
      <!-- TODO: fix counter -->
      <h3>{{ posts|length }}</h3>
      <p class="text-muted">Posts</p>
    </div>
    <div class="col-4">
      <a
        href="{{ url_for('site.followers', user_id=user.id) }}"
        class="text-black text-decoration-none"
      >
        <h3>{{ user.followers.count() }}</h3>
        <p class="text-muted">Followers</p></a
      >
    </div>
    <div class="col-4">
      <a
        href="{{ url_for('site.followers', user_id=user.id) }}"
        class="text-black text-decoration-none"
      >
        <h3>{{ user.followed.count() }}</h3>
        <p class="text-muted">Following</p>
      </a>
    </div>
  </div>
</div>

{% for post in posts %} {{ view_post_feed(post, current_user) }} {% endfor %} {%
endblock %} {% block scripts %} {{ super() }}
<script src="{{ url_for('static', filename='js/profile_page.js') }}"></script>
{% endblock %}
